.app {
  text-align: center;
  background-image: url("./Images/WorldMap7.jpg");
  
}

.mainBody {

  text-align: center;
  align-items: center;

}

.header {

  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 120px;
  padding: 20px;
  font: arial;
  
  
}


@keyframes Rainbow {
  0% {color: green}
  25% {color:greenyellow}
  50% {colour:gold;}
  75% {colour:orange;}
  100% {color: #c71007;}

}
.slogan {

  animation: Rainbow 5s infinite;

  opacity:0.9;
  background-color: rgb(22, 3, 129);
  background-size: 10px;
  width:350px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 620px;
  padding: 20px;
 
}

.flagImage {

  animation: Rainbow 5s infinite;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 150px;
  opacity:1;
  
}

.flagCounter {

  color:coral;
  font-size: 1.6rem;
  background-color: rgb(22, 3, 129);
  opacity:0.9;
  width:150px;
  margin-top: 10px;
  margin-bottom: 1200px;
  margin-right: 1200px;
  margin-left: 750px;
}

.countryLabel {
  color:white;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 70px;
  opacity:1;
}

.submitButton
{ 
  background-color: white;
  color: rgb(2, 2, 59);
  border-radius: 8px;
}

.nextButton
{ 
  background-color: white;
  color: rgb(2, 2, 59);
  border-radius: 8px;

}

.submitButton:disabled
{ 
  background-color: grey;
  color:grey;
  border-radius: 8px;
}

.restartQuiz
{ 
  background-color: white;
  color:coral;
  border-radius: 8px;
}

.correctResults 

{ 
  
  color:green;
  top: 0;
  font-size: 1.6rem;

}

.wrongResults 

{  
  color:red;
  top: 0;
  font-size: 1.6rem;
}

.resultMessage {
  
  color:white;
  top: 0;
  font-size: 1.6rem;

}