.app {
  text-align: center;
  background-image: url("./Images/WorldMap7.jpg");
  
}

.header {

  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 80px;
  padding: 20px;
  font: arial;
}


@keyframes Rainbow {
  0% {color: green}
  25% {color:greenyellow}
  50% {colour:gold;}
  75% {colour:orange;}
  100% {color: #c71007;}

}
.slogan {

  animation: Rainbow 5s infinite;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 2000px;
  margin-left: 480px;
  opacity:0.6;
  background-color: rgb(22, 3, 129);
  background-size: 10px;
  width:350px;
  text-align: center;
 
}

.flagImage {

  animation: Rainbow 5s infinite;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 80px;
  opacity:1;
 
}

.countryLabel {
  color:white;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 60px;
  opacity:1;
}

.correctResults 

{ color:white;

}

.wrongResults 

{ color:white;

}
